/* body */
body{
    font-family: 'Roboto', sans-serif;
    color: blanchedalmond;
    max-width: 100vw;
    max-height: 100vh;
}
/* UTILITY CLASS */
.container{
    width: 80%;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.d-wrap{
    flex-wrap: wrap
}
.just_cont_c{
    justify-content: center;
}
.just_cont_sp_bt{
    justify-content: space-between;
}

.align_c{
    align-items: center;
}
.fl_dir_col{
    flex-direction: column;
}