header{
    background-color: black;
    padding: 5px 0;
    .icon_logo{
        height: 25px;
        img{
            height: 100%;
        }
    }
    .filter{
        .menu_filter{
            display: block;
            position: absolute;
            z-index: 1000;
            background-color: black;
            margin-top: 0;
            padding: 10px;
            li{
                list-style: none;
            }
        }
    }
}
