main{
    background-color: #333;
    height: calc(100vh - 50px) ;
    .container{
        padding: 50px 0;
        .card{
            width: 120px;
            background-color: black;
            padding: 10px;
            margin-top: 10px;
            border-radius: 2px;
            h5{
                margin: 0.5rem 0;
            }
            h6{
                margin: 0.2rem 0;
                color: lightgrey;
            }
            .img_card{
                text-align: center;
                img{
                    max-height: 100px;
                }
            }
            .description_card{
                text-align: center;
            }
        }
    }
}
